.contenedor-menu{
    float: right;
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    vertical-align: center;
    padding: 0%;

}
.menu-principal{
    display: flex;
    float: right;
    flex-flow: row nowrap;
    width:100%;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: center;
}
.menu-principal li{
    list-style-type: none;
    text-align: center;
    vertical-align: top;
    border: 1px solid #252727;;
    width: 100%;
    position: relative;
    margin: 2px;
    font-family: 'helvetica', san-serif;
    background: #262a2b;
}
.menu-principal li h3 a{
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    position: relative;
    color: #b7b7b7;

}
.menu-principal li:hover{
    color: gray;
    background-color: #49494b;
}
.menu-principal__item a:visited{
    color: black;
}


.banner{
    display: flex;
    justify-content: center;
}
.banner img{
    height: 400px;
    width:1300px;
}


.titulo1{
    color: rgb(255, 255, 255);
    /*margin:30px;  */
    /*text-transform: uppercase;*/
    font-size: 4.5rem;
    margin: 60px auto 0;
    /*font-size: xx-large;  */
    text-align: center;
}
.titulo2{
    color: black;
    text-transform: capitalize;
    font-style: italic;
}


.servicios{
    display: flex;
    flex-flow: column nowrap;
    background-image: url("pictures/img_fondo_firstdiv_second.jpg");
    background-size: cover;
}
.servicios__int_par{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 900px;
    margin: 10px auto 0;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Raleway,sans-serif;
    font-size: 2rem;
    line-height: 1.6;
}


.servicios__bloque{
    width: 110%;
    /*min-height: 765px;*/
    display: flex;
    flex-flow: row nowrap;
    /*grid-template-rows: repeat(1, auto);*/
    /*grid-gap: 20px;*/
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
   
    
}
.servicios__bloque div{
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    text-align: center;
    position: relative;
    color: #0f0f0f;
    background-color: #a6ebe5de;
    margin-right: 50px;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
}
.servicios__bloque img {
    height: 200px;
    width: 400px;  
}
.servicios__bloque p{
    text-align: justify;
    height: 65px;
    width: 400px;   
}


.noticias{
    display: flex;
    flex-flow: column nowrap;
}
.noticias__bloque{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
.noticias__sub{
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}
.noticias__sub__item{
    display: flex;
    justify-content: space-around;  
    flex-flow: row nowrap;
    border-style: groove;
}
.noticias__sub__item img{
    height: 160px;
    width: 160px;
    padding: 32px   
}
.noticias__sub__item div{
    padding: 15px;
}
.noticias__sub__item p{
    text-align: justify; 
    width: 400px;
}


.equipo{
    display: flex;
    flex-flow: column nowrap;
}
.equipo__bloque{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.equipo__bloque__integrante{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.equipo__bloque__integrante img{
    border-radius: 50%;
    width: 175px;
}
.equipo__bloque__integrante__info{
    display: flex;
    flex-flow: column;
    margin: 30px;
}


.footer{
    display: flex;
    flex-flow: row nowrap;
}
.footer__bloque1{
    display: flex;
    flex-flow:column nowrap;
    flex-grow: 3;
    width: 50%;
    margin-top: 50px;
    text-align: center;
}
.footer__bloque2{
    display: flex;
    flex-flow:column nowrap;
    flex-grow: 4;
}
.footer__bloque2 ul{
    margin: 0;
}

/*style of header*/
#headerprueba{
    display: flex;
    margin: 0px;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
    background: #747474;
    color: white;
    position: sticky;
    top: 0;
    bottom: 0px;
    left: 0;
    max-height: 10000px;
    vertical-align: center;
}

.column {
    width: 50%;
    left: 25%;
    right: 75%;
    /*padding: 10px;*/
  }
.left {
    width: 10%;
 }
.right {
    width: 40%;
}
.middle {
    width: 50%;
  }

